.title {
  color: #00aa00;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: 'MyCustomFont'
}
@font-face {
  font-family: 'MyCustomFont'; /* A name you choose to reference the font later */
  url('fonts/Cattie-Regular.woff') format('woff'),
  src: url('fonts/custom.ttf') format('truetype'); /* The .ttf file for fallback */
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Helps prevent render-blocking of the page */
}
